doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul.class-name
      li the
      li car
      li is
      li.
        blah
        bla\h blah
        blah <br> blah
      input(type='text')
    block content
